<configuration>

    <property name="HOME_LOG" value="logs/watchmen/"/>
    <property name="ARCHIVE_LOG" value="logs/watchmen/archivedRequestResponse/"/>
    <timestamp key="bySecond" datePattern="YYYY'-'MM'-'dd'-Time-'HH'-'mm'-'ss"/>


    <!-- What do you want to see on Console? -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">

        <!-- What logs level you want to see: INFO, ERROR, DUBUG, TRACE ?-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <!-- Apply masking for sensitive info -->
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.ally.d3.watchmen.utilities.MaskingPatternLayout">
                <patternsProperty>("Password":)|("password":)|("PASSWORD":)|(Password)|(password)|(PASSWORD)|("API-Key":)|("Api-Key":)|("Api-key":)|("api-Key":)|("api-key":)|("API-KEY":)|(API-Key)|(Api-Key)|(Api-key)|(api-key)|(API-KEY)|("Secret":)|("secret":)|("SECRET":)|(Secret)|(secret)|(SECRET)|(access_token:)|(Access_token:)|(Access_Token:)|(access_token =)|(Access_token =)|(Access_Token =)|("access_token":)|("Access_token":)|(access_token)|(Access_token)|(Authorization=Basic)|(Authorization=basic)|(authorization=Basic)|(authorization=basic)|(Authorization=Bearer)|(Authorization=bearer)|(authorization=Bearer)|(authorization=bearer)|(Authorization)|(authorization)</patternsProperty>
                <pattern>%msg%n</pattern>
            </layout>
        </encoder>

    </appender>


    <!-- What do you want to see on requestResponse.log? -->
    <appender name="REQUEST-LOGS" class="ch.qos.logback.core.FileAppender">

        <!-- define file name -->
        <file>${HOME_LOG}/requestResponse-${bySecond}.log/</file>
        <append>true</append>


        <!-- What logs level you want to see: INFO, ERROR, DUBUG, TRACE ? -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>

        </filter>

        <!-- Apply masking for sensitive info -->
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.ally.d3.watchmen.utilities.MaskingPatternLayout">
                <patternsProperty>("Password":)|("password":)|("PASSWORD":)|(Password)|(password)|(PASSWORD)|("API-Key":)|("Api-Key":)|("Api-key":)|("api-Key":)|("api-key":)|("API-KEY":)|(API-Key)|(Api-Key)|(Api-key)|(api-key)|(API-KEY)|("Secret":)|("secret":)|("SECRET":)|(Secret)|(secret)|(SECRET)|(access_token:)|(Access_token:)|(Access_Token:)|(access_token =)|(Access_token =)|(Access_Token =)|("access_token":)|("Access_token":)|(access_token)|(Access_token)|(Authorization=Basic)|(Authorization=basic)|(authorization=Basic)|(authorization=basic)|(Authorization=Bearer)|(Authorization=bearer)|(authorization=Bearer)|(authorization=bearer)|(Authorization)|(authorization)</patternsProperty>
                <pattern>%msg%n</pattern>
            </layout>
        </encoder>



    </appender>

    <!-- What do you want to see on watchmen.log? -->
    <appender name="DEBUG-LOGS" class="ch.qos.logback.core.FileAppender">

        <!-- define file name -->
        <file>${HOME_LOG}/watchmen.log/</file>
        <append>true</append>

        <!-- What logs level you want to see: INFO, ERROR, DUBUG, TRACE ? -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>

        </filter>

        <!-- Apply masking for sensitive info -->
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.ally.d3.watchmen.utilities.MaskingPatternLayout">
                <patternsProperty>("Password":)|("password":)|("PASSWORD":)|(Password)|(password)|(PASSWORD)|("API-Key":)|("Api-Key":)|("Api-key":)|("api-Key":)|("api-key":)|("API-KEY":)|(API-Key)|(Api-Key)|(Api-key)|(api-key)|(API-KEY)|("Secret":)|("secret":)|("SECRET":)|(Secret)|(secret)|(SECRET)|(access_token:)|(Access_token:)|(Access_Token:)|(access_token =)|(Access_token =)|(Access_Token =)|("access_token":)|("Access_token":)|(access_token)|(Access_token)|(Authorization=Basic)|(Authorization=basic)|(authorization=Basic)|(authorization=basic)|(Authorization=Bearer)|(Authorization=bearer)|(authorization=Bearer)|(authorization=bearer)|(Authorization)|(authorization)</patternsProperty>
                <pattern>Execution time: %d %msg%n</pattern>
            </layout>
        </encoder>

    </appender>

    <!-- What do you want to see on error.log? -->
    <appender name="ERROR-LOGS" class="ch.qos.logback.core.FileAppender">

        <!-- define file name -->
        <file>${HOME_LOG}/errors.log/</file>
        <append>true</append>

        <!-- What logs level you want to see: INFO, ERROR, DUBUG, TRACE ? -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>

        </filter>

        <!-- Apply masking for sensitive info -->
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.ally.d3.watchmen.utilities.MaskingPatternLayout">
                <patternsProperty>("Password":)|("password":)|("PASSWORD":)|(Password)|(password)|(PASSWORD)|("API-Key":)|("Api-Key":)|("Api-key":)|("api-Key":)|("api-key":)|("API-KEY":)|(API-Key)|(Api-Key)|(Api-key)|(api-key)|(API-KEY)|("Secret":)|("secret":)|("SECRET":)|(Secret)|(secret)|(SECRET)|(access_token:)|(Access_token:)|(Access_Token:)|(access_token =)|(Access_token =)|(Access_Token =)|("access_token":)|("Access_token":)|(access_token)|(Access_token)|(Authorization=Basic)|(Authorization=basic)|(authorization=Basic)|(authorization=basic)|(Authorization=Bearer)|(Authorization=bearer)|(authorization=Bearer)|(authorization=bearer)|(Authorization)|(authorization)</patternsProperty>
                <pattern>Execution time: %d %msg%n</pattern>
            </layout>
        </encoder>

    </appender>


    <logger name="com.ally.d3.watchmen" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="com.ally.d3.watchmen" level="error" additivity="false">
        <appender-ref ref="ERROR-LOGS"/>
    </logger>

    <logger name="com.ally.d3.watchmen" level="debug" additivity="false">
        <appender-ref ref="DEBUG-LOGS"/>
    </logger>

    <logger name="com.ally.d3.watchmen" level="trace" additivity="true">
        <appender-ref ref="REQUEST-LOGS"/>
    </logger>



</configuration>